﻿<div class="pad-0 bg-white mh-con-b"><!-- <?UMBRACO_MACRO macroAlias="FormsRenderForm" FormGuid="ba688655-8179-49e6-a21f-48c454c1f5c1" /> --><ins>
<div id="contour_form_ba688655817949e6a21f48c454c1f5c1" class="contour contactform"><form method="post"><input type="hidden" name="FormId" value="ba688655-8179-49e6-a21f-48c454c1f5c1" /> <input type="hidden" id="FormName" name="FormName" value="ContactForm" /><input type="hidden" id="RecordId" name="RecordId" value="0" data-val="true" data-val-number="The field RecordId must be a number." data-val-required="The RecordId field is required." /><input type="hidden" id="PreviousClicked" name="PreviousClicked" value="" /> <input type="hidden" name="FormStep" value="0" /> <input type="hidden" name="RecordState" value="" />
<div class="contact-inner-form"><span class="contact-ttl color-black text-uppercase padm-ct-wf">Contact Form</span>
<div class="form-group cont-inp-mp">
<div class="col-md-3 col-sm-4 col-xs-4 pad-0"><span class="inp-label color-black inp-lbl-mp"> Name </span></div>
<div class="col-md-9 col-sm-8 col-xs-8 pad-0"><input type="text" id="7181ed8e-1c39-4918-a5ff-ccfdae74ef70" name="7181ed8e-1c39-4918-a5ff-ccfdae74ef70" placeholder="First &amp; Last Name" class="form-control contact-inp" value="" data-val="true" data-val-required="Please enter Name" /> <span class="field-validation-valid" data-valmsg-for="7181ed8e-1c39-4918-a5ff-ccfdae74ef70" data-valmsg-replace="true"></span></div>
</div>
<div class="form-group cont-inp-mp">
<div class="col-md-3 col-sm-4 col-xs-4 pad-0"><span class="inp-label color-black inp-lbl-mp"> Email </span></div>
<div class="col-md-9 col-sm-8 col-xs-8 pad-0"><input type="text" id="98aba78f-4aa5-4ea2-95b5-aae042be5914" name="98aba78f-4aa5-4ea2-95b5-aae042be5914" placeholder="example@domain.com" class="form-control contact-inp" value="" data-val="true" data-val-required="Please enter Email id" data-val-regex="Invalid Email id" data-regex="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" /> <span class="field-validation-valid" data-valmsg-for="98aba78f-4aa5-4ea2-95b5-aae042be5914" data-valmsg-replace="true"></span></div>
</div>
<div class="form-group cont-inp-mp">
<div class="col-md-3 col-sm-4 col-xs-4 pad-0"><span class="inp-label color-black inp-lbl-mp"> Phone </span></div>
<div class="col-md-9 col-sm-8 col-xs-8 pad-0"><input type="text" id="26d8a976-e931-4dda-cf0e-bd0b362bbf21" name="26d8a976-e931-4dda-cf0e-bd0b362bbf21" class="form-control contact-inp" value="" /> <span class="field-validation-valid" data-valmsg-for="26d8a976-e931-4dda-cf0e-bd0b362bbf21" data-valmsg-replace="true"></span></div>
</div>
<div class="form-group cont-inp-mp">
<div class="col-md-3 col-sm-4 col-xs-4 pad-0"><span class="inp-label color-black inp-lbl-mp"> Message </span></div>
<div class="col-md-9 col-sm-8 col-xs-8 pad-0"><textarea class="form-control contact-inp txara-h" id="114a1778-a43d-4181-cb58-60f42b265422" name="114a1778-a43d-4181-cb58-60f42b265422" data-val="true" data-val-required="Please enter a message"></textarea> <span class="field-validation-valid" data-valmsg-for="114a1778-a43d-4181-cb58-60f42b265422" data-valmsg-replace="true"></span></div>
</div>
<div style="display: none;"><input type="text" name="ba688655817949e6a21f48c454c1f5c1" /></div>
<div class="form-group cont-inp-mp">
<div class="col-md-3 col-sm-4 col-xs-4 pad-0"></div>
<div class="col-md-9 col-sm-8 col-xs-8 pad-0"><input type="submit" name="submitbtn" class="submit-btn text-uppercase" value="Submit" /></div>
</div>
<input type="hidden" name="ufprt" value="F0948A8A6A7DA30B9B27189076092F3903A159927177208FEA8F4AB5C085BEBCA10E0E46B6C60FF9C4905DDBC0B890DD85AC774FEBD2558A8C33EB6FFFD06002A99ED77141CC944B6ECA0371A51E2E2A973DEDF2119148331AECDD71C5F081D84AE9653D36550B9122EFCA9C0D89CDD66918FE245E151EEF55D086992969E62B0CACFF746F7B5ED57F0CD5E49789EA8C" /></div>
</form><input type="hidden" id="fsConditions_ba688655817949e6a21f48c454c1f5c1" value="{}" /> <input type="hidden" id="fieldConditions_ba688655817949e6a21f48c454c1f5c1" value="{}" /> <input type="hidden" id="values_ba688655817949e6a21f48c454c1f5c1" value="{&quot;7181ed8e-1c39-4918-a5ff-ccfdae74ef70&quot;:&quot;&quot;,&quot;98aba78f-4aa5-4ea2-95b5-aae042be5914&quot;:&quot;&quot;,&quot;26d8a976-e931-4dda-cf0e-bd0b362bbf21&quot;:&quot;&quot;,&quot;114a1778-a43d-4181-cb58-60f42b265422&quot;:&quot;&quot;}" /></div>
</ins></div>