﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

<ul class="footer-menu-a">
        @{
            var homeNode = CurrentPage.AncestorsOrSelf(2).First();
 
            // The menu items we want are all of the children of the homepage
            // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
            var menuItems = homeNode.Children.Where("FooterNav == true");
 
 
        }
 
     
 
       
        @foreach (var page in menuItems)
        {
            if(page.Name!="Banner Settings")
            {
         <li class="footer-left-li-mp">
                <a href="javascript:void(0);" class="footer-left-menu-fs">@page.Name</a>
                 
                    <!-- If the page has child nodes (2nd level) that are visible and docTypeAlias is Textpage (textpages) -->
                @if (page.Textpages.Where("FooterNav == true").Count() > 0)
                {
                    <ul>
                        @foreach (var childPage in page.Children.Where("FooterNav == true"))
                        {
                            <li><a href="@childPage.Url">@childPage.Name</a></li>
                        }
                    </ul>
                }
            </li>
            }
        }
    </ul>
	