﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@{
	var homepage = @CurrentPage.AncestorsOrSelf(2).First();
}
	
	@if (@homepage.HasValue("LanguageLinks") && @homepage.LanguageLinks.ToString().Length > 2)
    { 
            foreach (var item in @homepage.LanguageLinks)
            {
                var linkUrl = (bool)item.isInternal ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.link;
                var linkTarget = (bool)item.newWindow ? "_blank" : null;
				
				<li>	<a href="@linkUrl" target="@linkTarget">@item.caption</a></li>
				
	
               }
	}
	
			









