﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@{
	var homepage = @CurrentPage.AncestorsOrSelf(2).First();
}

    @if (@homepage.HasValue("TopLeftLinks") && @homepage.TopLeftLinks.ToString().Length > 2)
    {
            foreach (var item in @homepage.TopLeftLinks)
            {
                var linkUrl = (bool)item.isInternal ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.link;
                var linkTarget = (bool)item.newWindow ? "_blank" : null;
				if(@homepage.pageTitle == @item.caption.ToString())
				{
                	<li class="active"><a href="@linkUrl" target="@linkTarget">@item.caption</a></li>
				}
				else
				{
					<li><a href="@linkUrl" target="@linkTarget">@item.caption</a></li>
				}
            }
    }
