﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqg0mv-q9HW429aPUoulzd055nW39zZ3M"></script>

@if(@CurrentPage.Name == "Contact")
{
	<script src="/Roshan/scripts/map.js"></script>
}
else
{
	
}