﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
 @{
            var homeNode = CurrentPage.AncestorsOrSelf(2).First();
 
            // The menu items we want are all of the children of the homepage
            // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
            var menuItemsLeft = homeNode.Children.Where("TopLeftMenu == true");
		    var menuItemsRight = homeNode.Children.Where("TopRightMenu == true");
 
 
 }
<div class="col-md-6 col-sm-12 txt-left pad-0">
    <ul class="top-nav">
 
        <li class="active"><a href="@homeNode.Url">Personal</a></li>
 
       
        @foreach (var page in menuItemsLeft)
        {
            if(page.Name!="Banner Settings")
            {
            <li>
                <a href="@page.Url">@page.Name</a>
                 
                    <!-- If the page has child nodes (2nd level) that are visible and docTypeAlias is Textpage (textpages) -->
                @if (page.Textpages.Where("TopLeftMenu == true").Count() > 0)
                {
                    <ul>
                        @foreach (var childPage in page.Children.Where("TopLeftMenu == true"))
                        {
                            <li><a href="@childPage.Url">@childPage.Name</a></li>
                        }
                    </ul>
                }
            </li>
            }
        }
    </ul>
</div>

<div class="col-md-6 col-sm-12 txt-right pad-0">
	<ul class="top-nav">
        @foreach (var page in menuItemsRight)
        {
            if(page.Name!="Banner Settings")
            {
            <li>
                <a href="@page.Url">@page.Name</a>
                 
                    <!-- If the page has child nodes (2nd level) that are visible and docTypeAlias is Textpage (textpages) -->
                @if (page.Textpages.Where("TopRightMenu == true").Count() > 0)
                {
                    <ul>
                        @foreach (var childPage in page.Children.Where("TopRightMenu == true"))
                        {
                            <li><a href="@childPage.Url">@childPage.Name</a></li>
                        }
                    </ul>
                }
            </li>
            }
        }
    </ul>
</div>
