﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@{
	var homepage = @CurrentPage.AncestorsOrSelf(2).First();
}
	
	@if (@homepage.HasValue("LanguageLinks") && @homepage.LanguageLinks.ToString().Length > 2)
    {
		var @count = 0;
		<div class="lang-mob-pad">
            @foreach (var item in @homepage.LanguageLinks)
            {
                var linkUrl = (bool)item.isInternal ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.link;
                var linkTarget = (bool)item.newWindow ? "_blank" : null;
				if(@count==1)
				{
                	<a href="@linkUrl" target="@linkTarget"> - @item.caption</a>
				}
				else
				{
					<a href="@linkUrl" target="@linkTarget">@item.caption</a>
				}
				
				count++;
            }
		</div>
    }