﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<ul class="dl-menu">
        @{
            var homeNode = CurrentPage.AncestorsOrSelf(2).First();
 
            // The menu items we want are all of the children of the homepage
            // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
            var menuItems = homeNode.Children.Where("TopMenu2 == true");
 
 
        }
 
        @foreach (var page in menuItems)
        {
            if(page.Name!="Banner Settings")
            {
				<li>
			
                    <!-- If the page has child nodes (2nd level) that are visible and docTypeAlias is Textpage (textpages) -->
                @if (page.Children.Any())
                {
					<a href="javascript:void(0);">@page.Name</a>
						
                    <ul class="dl-submenu">
                        @foreach (var childPage in page.Children.Where("TopMenu2Child == true"))
                        {
							 if (childPage.Children.Any() )
							{                    
								<li>
									@* for loop for 1st level of menu *@
										<a href="javascript:void(0);">@childPage.Name
											
										@*	<span>
												<i class="fa fa-angle-right"></i>
											</span> *@
										</a>
										@childPages(childPage.Children)
								
								</li>
							} 
							 else
							{
								<li>
									<a href="@childPage.Url">@childPage.Name</a>
								</li>
							}   
                           
                        }
                    </ul>
                }
				else
				{
					<a href="@page.Url">@page.Name</a>	
				}
            </li>
            }
        }

@helper childPages(dynamic pages)
{
    @* Ensure that we have a collection of pages *@
    if (pages.Any())
    {
        @* Get the first page in pages and get the level *@
        var naviLevel = pages.First().Level;
        
        @* Add in level for a CSS hook *@
        <ul class="dl-submenu">
            @foreach (var page in pages)
            {
                <li>
                    
                    @* if the current page has any children *@
                    @if (page.Children.Any())
                    {                
						<a href="javascript:void(0);">@page.Name</a>
							
						@* Call our helper to display the children *@
						@childPages(page.Children)
                    }
					else
					{
						<a href="@page.Url">@page.Name</a>	
					}
                </li>
            }
        </ul>
    }
}
    </ul>