﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@{
	var homepage = @CurrentPage.AncestorsOrSelf(2).First();
}
<div class="col-sm-12 col-xs-12 con-brd-btm pad-0">		
	<div class="top-menu-tabs">
		
    @if (@homepage.HasValue("TopLeftLinks") && @homepage.TopLeftLinks.ToString().Length > 2)
    {
            foreach (var item in @homepage.TopLeftLinks)
            {
                var linkUrl = (bool)item.isInternal ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.link;
                var linkTarget = (bool)item.newWindow ? "_blank" : null;
				<div class="col-sm-3 col-xs-3 text-center pad-0">
					@if(@homepage.pageTitle == @item.caption.ToString())
					{

							<a class="tm-tabs active" href="@linkUrl" target="@linkTarget">@item.caption</a>
					}
					else
					{
						<a class="tm-tabs" href="@linkUrl" target="@linkTarget">@item.caption</a>
					}
				</div>
            }
    }

@if (@homepage.HasValue("TopRightLinks") && @homepage.TopRightLinks.ToString().Length > 2)
    {
            foreach (var item in @homepage.TopRightLinks)
            {
                var linkUrl = (bool)item.isInternal ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.link;
                var linkTarget = (bool)item.newWindow ? "_blank" : null;
                <div class="col-sm-3 col-xs-3 text-center pad-0">
					<a class="tm-tabs" href="@linkUrl" target="@linkTarget">@item.caption</a>
				</div>
            }
    }

@* Subscribe Panel *@
					<div class="col-sm-3 col-xs-3 text-center pad-0">
						<a class="tm-tabs lst" href="javascript:void(0);" id="sub-des">Subscribe</a>
					</div>
							
	</div>
</div>

