﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

        @{
            var homeNode = @CurrentPage.AncestorsOrSelf(2).First();
			
            // The menu items we want are all of the children of the homepage
            // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
            var menuItems = homeNode.Children.Where("TopMenu2 == true");
 			var relatedPages = "null";
			var activePage = @CurrentPage.AncestorsOrSelf(3).First();
			var status="active";
 
        }

        @foreach (var page in menuItems)
        {
            if(page.Name!="Banner Settings")
            {
				<li class="@if(@page.Name == @activePage.Name){ @status }">
			
                    <!-- If the page has child nodes (2nd level) that are visible and docTypeAlias is Textpage (textpages) -->
                @if (page.Children.Any())
                {
					<a href="@page.Url">@page.Name</a> @* javascript:void(0); *@
						
                    <ul>
                        @foreach (var childPage in page.Children.Where("TopMenu2Child == true"))
                        {
							 if (childPage.Children.Any() )
							{                    
								<li>
									@* for loop for 1st level of menu *@
										<a href="@childPage.Url">@childPage.Name  @* javascript:void(0); *@
											<span>
												<i class="fa fa-angle-right"></i>
											</span>
										</a>
										@childPages(childPage.Children)
								
								</li>
							} 
							 else
							{
								<li>
									<a href="@childPage.Url">@childPage.Name</a>
								</li>
							}   
                           
                        }
                    </ul>
                }
				else
				{
					<a href="@page.Url">@page.Name</a>	
				}
            </li>
            }
        }

@helper childPages(dynamic pages)
{
	var relatedPages = CurrentPage.AncestorsOrSelf(3);
    @* Ensure that we have a collection of pages *@
    if (pages.Any())
    {
        @* Get the first page in pages and get the level *@
        var naviLevel = pages.First().Level;
        
        @* Add in level for a CSS hook *@
        <ul class="sublevel level-@(naviLevel)">
            @foreach (var page in pages)
            {
                <li>
					@* for loop for 2nd and 3rd level menus *@
                    <a href="@page.Url">@page.Name</a>
                    
                    @* if the current page has any children *@
                    @if (page.Children.Any())
                    {                
						if(page.Children.Where("Level3Menu == false").Any())
						   {
								@* Call our helper to display the children *@
								@childPages(page.Children)
						   }
                    }
                </li>
            }
        </ul>
    }
}

    