﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "DhariMaster.cshtml";
}
<div class="container-fluid bg-grid-main gp-mp-other">
	<div class="container pad-0-767 mycontainer">
		@Umbraco.RenderMacro("bcrum")
		@CurrentPage.GetGridHtml("gridContent","homeGrid")
	</div>
</div>