﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
	var home = @CurrentPage.AncestorsOrSelf(2).First();
	var searchTerm = @Request.QueryString["search"];
}

@if (String.IsNullOrWhiteSpace(searchTerm))
    {
        searchTerm = "";
    }
	else
	{
		Response.Redirect(@home.Url+"search-result/?keywords="+@searchTerm);
	}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@CurrentPage.Name</title>
		<link rel="apple-touch-icon" href="./">
	
	 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" rel="stylesheet" />
	 <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6214694/7685152/css/fonts.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/Roshan/css/style.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/animate.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/component.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/stylesheet-rtl.css">
     <link rel="stylesheet" type="text/css" href="/Roshan/css/font-awesome.css">
	
	
	@*	<!--<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link href="css/stylesheet.css" rel="stylesheet">
		<link href="css/component.css" rel="stylesheet">
		<link href="css/animate.css" rel="stylesheet"> --> *@
		<!-- <link href="css/set1.css" rel="stylesheet"> -->
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<div class="hidden-xs">

	<!-- Topmenu -->

@*	<div class="container-fluid con-brd-btm">
		<div class="container mycontainer pad-0-1200">
			<div class="overflow-hid">
                     @{ Html.RenderPartial("MenuNav"); } 
			</div>
		</div>
	</div> *@
	<div class="container-fluid con-brd-btm pad-top-menu">
		<div class="container mycontainer pad-0-1200">
			<div class="col-md-6 col-sm-6 txt-left pad-0">
				<ul class="top-nav">
					  		@{Html.RenderPartial("LanguageLinks");}
							@{Html.RenderPartial("RightMenuNav");}
                      <li>
						<a href="javascript:void(0);" id="sub-des">Subscribe</a>
					</li>
				</ul>
			</div>

			<div class="col-md-6 col-sm-6 txt-right pad-0">
				<ul class="top-nav">
					
                      @{Html.RenderPartial("LeftMenuNav");}
				

				</ul>
			</div>
		</div>
	</div>

	<header class="container-fluid con-brd-btm">
		<div class="container mycontainer pad-0-1200">
			
			<div class="col-md-9 col-sm-9 col-xs-9 txt-left pad-0">
				<nav class="nav nav3">
					<ul>
				           <li class="w-a">
							<a href="javascript:void(0);" class="srch-ico-nav" id="desk-srch">
								<span class="fa fa-search"></span>
								<span class="cls-sub-box cls-main-nav dis-no" id="cls-commn-sub">&times;</span>
							</a>
	   </li>
					
					     @{ Html.RenderPartial("TopMenu2"); }

                           
                   </ul>     
				</nav>
				
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3 txt-right pad-0">
				<a href="@home.Url">
					<img src="/Roshan/media/1078/logo.png" class="img-responsive dis-ib logo">
				</a>
			</div>

		</div>
	</header>
</div><!--Main Hidden-xs Here-->

<!-- 
============================
  Mobile Version Gose Here
============================
 -->

<div class="hidden-sm hidden-md hidden-lg">

	<!-- Topmenu -->
				@{Html.RenderPartial("TopMenuMob");}
	<!-- mob-header -->

	<div class="container-fluid con-brd-btm pm-in">
		<div class="col-sm-6 col-xs-6 pad-0 w-mob-2">
			<div class="col-sm-6 col-xs-6 pad-0">
				<div class="col-sm-12 col-xs-12 pad-0 text-left">
					<button class="mob-hd-btns drdr-lmob-srchico dl-trigger scr-ico-mobhw" id="mob-menu-trigger">
						<span class="fa fa-bars"></span>
						<span class="cls-sub-box-mm cls-main-nav dis-no">&times;</span>
					</button>
					<button class="mob-hd-btns srch-icon-pmmob scr-ico-mobhw" id="mob-srch">
						<span class="fa fa-search"></span>
						<span class="cls-sub-box cls-main-nav dis-no" id="cls-commn-sub">&times;</span>
					</button>
				</div>
			</div>
							

				<div class="col-sm-6 col-xs-6 pad-0 text-left">
					@{Html.RenderPartial("MobLanguageLinks");}
				</div>	
			</div>	
						
			<div class="col-sm-6 col-xs-6 pad-0 w-mob">
				<a href="@home.Url">
					<img src="/Roshan/media/1078/logo.png" class="img-responsive logo-mob">
				</a>
			</div>

	</div>
					

	<div class="container-fluid pos-rel-mobmenu bg-white">
		<div id="dl-menu" class="dl-menuwrapper">
			<!-- <button class="dl-trigger">Open Menu</button> -->
			
				     @{ Html.RenderPartial("TopMenu2Mob"); }
			
		</div><!-- /dl-menuwrapper -->
	</div>

 


 
 
</div><!-- End Mobile Main -->

<!-- 
============================
  Common Sections Are Here
============================
 -->

<!-- Search Panel -->

<div class="container-fluid pad-srch dis-no" id="search-box">
	<div class="container pad-0">
		<div class="col-md-offset-6 col-md-6 col-sm-12 overflow-hid">
			<form method="get" enctype="text/plain" class="form-inline" id="search-form">
				<div class="form-group w-100">
					<input type="text" id="search" placeholder="product - service - keywords..." class="form-control srch-inp" name="search">
				
					<label for="search" class="srch-lbl">Search</label>
					</div>
			</form>
		</div>
	</div>
</div>

<!-- Subscribe Panel -->

<div class="container-fluid pad-srch dis-no" id="subscribe-box">
	<div class="container">
		<div class="text-right overflow-hid visible-xs visible-sm">
			<div class="col-md-5 col-sm-12 text-right">
				<span class="cls-sub-box" id="cls-commn-sub">&times;</span>
			</div>
		</div>
		<div class="col-md-5 col-sm-12 overflow-hid pad-0 text-left">
			<span class="sub-des-ttl color-black">
				Subscribe to Newsletter
			</span>
			<span class="sub-des-ttl sub-descr-color">
				Subscribe to our newsletter to stay informed about our latest work and studio news. As well as information on current positions and internships.
			</span>
		</div>

		<div class="col-md-7 col-sm-12 overflow-hid pad-0 mr-subfrm-rw">
			<form method="post" enctype="text/plain" id="subscribe-form">
				<div class="col-md-4 col-sm-12 pad-0 text-center">
					<input type="text" id="name" placeholder="Enter your name" class="form-control srch-inp-full" name="name">
				</div>

				<div class="col-md-4 col-sm-12 pad-0 text-center">
					<input type="email" id="email" placeholder="Enter your e-mail" class="form-control srch-inp-full" name="email">
				</div>

				<div class="col-md-4 col-sm-12 pad-0">
					<div class="col-md-7 col-sm-12 pad-0 txt-left">
						<button type="submit" class="submit-btn">submit</button>
					</div>
					<div class="col-md-5 col-sm-12 txt-right hidden-sm hidden-xs">
						<span class="cls-sub-box" id="cls-commn-sub-des">&times;</span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
 
<!-- #Grid @* @CurrentPage.GetGridHtml("GridContent") *@ -->
 
@RenderBody()
<!-- Footer -->
<div class="container-fluid footer-bg fot-in-cont">
	<div class="container mycontainer pad-0 w-767-100">
		<div class="con-brd-top line-footer footer-line-mp"></div>
		
			<div class="col-md-6 col-sm-6 col-xs-6 text-left">
			<ul class="footer-menu">
				<li class="footer-right-li-mp">
					<a href="javascript:void(0);" class="footer-right-menu-fs">
						<i class="fa fa-youtube"></i>
					</a>
				</li>
				<li class="footer-right-li-mp">
					<a href="javascript:void(0);" class="footer-right-menu-fs">
						<i class="fa fa-twitter"></i>
					</a>
							</li>
				 <li class="footer-right-li-mp">
					<a href="javascript:void(0);" class="footer-right-menu-fs">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
								
			</ul>
            <img src="/Roshan/media/1077/footer-name.png" class="img-responsive dis-ib fot-nm visible-xs pull-left">
			<span class="copyright">ROSHAN © copyright 2016</span>
		</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right">
			 @{ Html.RenderPartial("FooterNav"); }
				<img src="/Roshan/media/1077/footer-name.png" class="img-responsive dis-ib fot-nm hidden-xs">
		</div>
	</div>
</div>
					

<!-- JQuery -->

<script src="/Roshan/scripts/jquery-1.12.0.min.js"></script>
<script src="/Roshan/scripts/bootstrap.min.js"></script>
<script src="/Roshan/scripts/modernizr.custom.js"></script>
<script src="/Roshan/scripts/jquery.dlmenu.js"></script>
<script src="/Roshan/scripts/wow.js"></script>
<script src="/Roshan/scripts/website.js"></script>
@{Html.RenderPartial("MapScript");}

<script type="text/javascript">
	wow = new WOW (
		{
			animateClass: 'animated',
			offset: 100,
			callback: function(box) {
				// console.log('hey');
			}
		}
	);
	wow.init();
</script>
</body>
</html>