﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "DhariMaster.cshtml";
}
<div class="container-fluid bg-grid-main gp-mp">
	<div class="container pad-0-767 mycontainer">
	

@CurrentPage.GetGridHtml("gridContent","homeGrid")

</div>
		</div>
