﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "HomeRMasters.cshtml";
}
<div class="contain-to-grid">
    <nav class="top-bar" data-topbar data-options="sticky_on: large" role="navigation">
        <section class="top-bar-section">
            @if (menuItems.Count() > 0)
            {
            <ul class="right">
                <li class="divider"></li>
                @foreach (var item in menuItems)
                {
                <li><a href="@item.Url">@item.Name</a></li>
                <li class="divider"></li>
                }
            </ul>
            }
        </section>
    </nav>