﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
	var home = @CurrentPage.AncestorsOrSelf(2).First();
	var searchTerm = @Request.QueryString["search"];
}

@if (String.IsNullOrWhiteSpace(searchTerm))
    {
        searchTerm = "";
    }
	else
	{
		Response.Redirect(@home.Url+"search-result/?keywords="+@searchTerm);
	}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>@CurrentPage.Name</title>
		<link rel="apple-touch-icon" href="./">
	
	@* <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" rel="stylesheet" />*@
	 <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6214694/7685152/css/fonts.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/Roshan/css/style.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/animate.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/component.css">
	 <link rel="stylesheet" type="text/css" href="/Roshan/css/stylesheet.css">
     <link rel="stylesheet" type="text/css" href="/Roshan/css/font-awesome.css">
	
	@*	<!--<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link href="css/stylesheet.css" rel="stylesheet">
		<link href="css/component.css" rel="stylesheet">
		<link href="css/animate.css" rel="stylesheet"> --> *@
		<!-- <link href="css/set1.css" rel="stylesheet"> -->
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<div class="hidden-xs">

	<!-- Topmenu -->

@*	<div class="container-fluid con-brd-btm">
		<div class="container mycontainer pad-0-1200">
			<div class="overflow-hid">
                     @{ Html.RenderPartial("MenuNav"); } 
			</div>
		</div>
	</div> *@
	
	<div class="container-fluid con-brd-btm pad-top-menu">
		<div class="container mycontainer pad-0-1200">
			<div class="col-md-6 col-sm-6 txt-left pad-0">
				<ul class="top-nav">
						@{Html.RenderPartial("LeftMenuNav");}
				</ul>
			</div>

			<div class="col-md-6 col-sm-6 txt-right pad-0">
				<ul class="top-nav">
					<li>
						<a href="javascript:void(0);" id="sub-des">Subscribe</a>
					</li>

					@{Html.RenderPartial("RightMenuNav");}
                    @{Html.RenderPartial("LanguageLinks");}

			@*		<li class="arebic">
						<a href="javascript:void(0);">پښتو  -  دری</a>
					</li> *@
				</ul>
			</div>
		</div>
	</div>

	<header class="container-fluid con-brd-btm">
		<div class="container mycontainer pad-0-1200">
			<div class="col-md-3 col-sm-3 col-xs-3 txt-left pad-0">
				<a href="@home.Url">
					<img src="/Roshan/media/1078/logo.png" class="img-responsive dis-ib logo">
				</a>
			</div>

			<div class="col-md-9 col-sm-9 col-xs-9 txt-right pad-0">
				<nav class="nav nav3">
					<ul>
					     @{ Html.RenderPartial("TopMenu2"); }
                                <li class="w-a">
							<a href="javascript:void(0);" class="srch-ico-nav" id="desk-srch">
								<span class="fa fa-search"></span>
								<span class="cls-sub-box cls-main-nav dis-no" id="cls-commn-sub">&times;</span>
							</a>
	                        </li>
									</ul>
				</nav>
				
			</div>
		</div>
	</header>

</div><!--Main Hidden-xs Here-->

<!-- 
============================
  Mobile Version Gose Here
============================
 -->

<div class="hidden-sm hidden-md hidden-lg">

	<!-- Topmenu -->
				@{Html.RenderPartial("TopMenuMob");}
	<!-- mob-header -->

	<div class="container-fluid con-brd-btm pm-in">
		<div class="col-sm-6 col-xs-6 pad-0 w-mob">
			<a href="@home.Url">
				<img src="/Roshan/media/1078/logo.png" class="img-responsive logo-mob">
			</a>
		</div>

		<div class="col-sm-6 col-xs-6 pad-0 w-mob-2">
			<div class="col-sm-6 col-xs-6 pad-0 text-right">
				@*<a href="javascript:void(0);" class="lang-mob">پښتو  -  دری</a>*@
				@{Html.RenderPartial("MobLanguageLinks");}

			</div>
				


			<div class="col-sm-6 col-xs-6 pad-0">
				<div class="col-sm-12 col-xs-12 pad-0 text-right">
					<button class="mob-hd-btns drdr-lmob-srchico dl-trigger scr-ico-mobhw" id="mob-menu-trigger">
						<span class="fa fa-bars"></span>
						<span class="cls-sub-box-mm cls-main-nav dis-no">&times;</span>
					</button>
					<button class="mob-hd-btns srch-icon-pmmob scr-ico-mobhw" id="mob-srch">
						<span class="fa fa-search"></span>
						<span class="cls-sub-box cls-main-nav dis-no" id="cls-commn-sub">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid pos-rel-mobmenu bg-white">
		<div id="dl-menu" class="dl-menuwrapper">
			<!-- <button class="dl-trigger">Open Menu</button> -->
			
				     @{ Html.RenderPartial("TopMenu2Mob"); }
			
		</div><!-- /dl-menuwrapper -->
	</div>

 
</div><!-- End Mobile Main -->

<!-- 
============================
  Common Sections Are Here
============================
 -->

<!-- Search Panel -->

<div class="container-fluid pad-srch dis-no" id="search-box">
	<div class="container pad-0">
		<div class="col-md-offset-6 col-md-6 col-sm-12 overflow-hid">
			<form method="get" enctype="text/plain" class="form-inline" id="search-form">
				<div class="form-group w-100">
					<label for="search" class="srch-lbl">Search</label>
					<input type="text" id="search" placeholder="product - service - keywords..." class="form-control srch-inp" name="search">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Subscribe Panel -->

<div class="container-fluid pad-srch dis-no" id="subscribe-box">
	<div class="container">
		<div class="text-right overflow-hid visible-xs visible-sm">
			<div class="col-md-5 col-sm-12 text-right">
				<span class="cls-sub-box" id="cls-commn-sub">&times;</span>
			</div>
		</div>
		<div class="col-md-5 col-sm-12 overflow-hid pad-0 text-left">
			<span class="sub-des-ttl color-black">
				Subscribe to Newsletter
			</span>
			<span class="sub-des-ttl sub-descr-color">
				Subscribe to our newsletter to stay informed about our latest work and studio news. As well as information on current positions and internships.
			</span>
		</div>
		
		<div class="umb-macro-holder FormsRenderForm mceNonEditable umb-macro-mce_0 loading">
			<!-- <UMBRACO_MACRO macroAlias="FormsRenderForm" FormGuid="5972a032-9b21-46d4-bc56-66ecb46a6375" /> -->
			<ins>
				<div id="contour_form_5972a0329b2146d4bc5666ecb46a6375" class="contour subscribeform">
					<form method="post"><input type="hidden" name="FormId" value="5972a032-9b21-46d4-bc56-66ecb46a6375" />
					<input type="hidden" id="FormName" name="FormName" value="SubscribeForm" />
					<input type="hidden" id="RecordId" name="RecordId" value="0" data-val="true" data-val-number="The field RecordId must be a number." data-val-required="The RecordId field is required." />
					<input type="hidden" id="PreviousClicked" name="PreviousClicked" value="" />
					<input type="hidden" name="FormStep" value="0" />
					<input type="hidden" name="RecordState" value="" />
					<div class="col-md-7 col-sm-12 overflow-hid pad-0 mr-subfrm-rw">
					<div class="col-md-4 col-sm-12 pad-0 text-center">
						<input type="text" id="3078c602-b3b7-4323-c3a1-fb7060ac39f3" name="3078c602-b3b7-4323-c3a1-fb7060ac39f3" placeholder="Enter your name" class="form-control srch-inp-full" required value="" maxlength="500" /> 
						<span class="field-validation-valid" data-valmsg-for="3078c602-b3b7-4323-c3a1-fb7060ac39f3" data-valmsg-replace="true"></span>
					</div>
					<div class="col-md-4 col-sm-12 pad-0 text-center">
						<input type="email" id="c73a74a8-ff64-4855-c19a-61937fc7384c" name="c73a74a8-ff64-4855-c19a-61937fc7384c" placeholder="Enter your e-mail" class="form-control srch-inp-full" required value="" maxlength="500" /> 
						<span class="field-validation-valid" data-valmsg-for="c73a74a8-ff64-4855-c19a-61937fc7384c" data-valmsg-replace="true"></span>
					</div>
					<div style="display: none;"><input type="text" name="5972a0329b2146d4bc5666ecb46a6375" /></div>
					<div class="col-md-4 col-sm-12 pad-0">
					<div class="col-md-7 col-sm-12 pad-0 txt-left"><input type="submit" name="submitbtn" class="submit-btn" value="Submit" /></div>
					<div class="col-md-5 col-sm-12 txt-right hidden-sm hidden-xs"><span id="cls-commn-sub-des" class="cls-sub-box">×</span></div>
					</div>
				</div>
				<input type="hidden" name="ufprt" value="421B98B31C42E6ACDA4937EC8CD6385683774451B8C5972648AD0D92EFF137172351D33D46B60BF6D568077D4E541BDD368104BF064216E52BE2FAA55110F87A7E8575F7A91964EB5CB1F4B7EF05649BC766D9AB2E722D72C43944F48346474FAFE1F70F0FDE7D12EDD81AE5E66E793734689C50DBBCA9B43C817FB45490D8D52824597D7897F1B8E455E25C171FD05C" /></form></div>
				<input type="hidden" id="fsConditions_5972a0329b2146d4bc5666ecb46a6375" value="{}" /> 
				<input type="hidden" id="fieldConditions_5972a0329b2146d4bc5666ecb46a6375" value="{&quot;3078c602-b3b7-4323-c3a1-fb7060ac39f3&quot;:{&quot;id&quot;:&quot;00000000-0000-0000-0000-000000000000&quot;,&quot;actionType&quot;:&quot;Show&quot;,&quot;logicType&quot;:&quot;All&quot;,&quot;rules&quot;:[]}}" />
				<input type="hidden" id="values_5972a0329b2146d4bc5666ecb46a6375" value="{&quot;3078c602-b3b7-4323-c3a1-fb7060ac39f3&quot;:&quot;&quot;,&quot;c73a74a8-ff64-4855-c19a-61937fc7384c&quot;:&quot;&quot;}" />
			</ins>
		</div>
		

	@*	<div class="col-md-5 col-sm-12 overflow-hid pad-0 text-left"><span class="sub-des-ttl color-black"> Subscribe to Newsletter </span> <span class="sub-des-ttl sub-descr-color"> Subscribe to our newsletter to stay informed about our latest work and studio news. As well as information on current positions and internships. </span></div>

<div class="col-md-7 col-sm-12 overflow-hid pad-0 mr-subfrm-rw">
			<form method="post" enctype="text/plain" id="subscribe-form">
				<div class="col-md-4 col-sm-12 pad-0 text-center">
					<input type="text" id="name" placeholder="Enter your name" class="form-control srch-inp-full" name="name">
				</div>

				<div class="col-md-4 col-sm-12 pad-0 text-center">
					<input type="email" id="email" placeholder="Enter your e-mail" class="form-control srch-inp-full" name="email">
				</div>

				<div class="col-md-4 col-sm-12 pad-0">
					<div class="col-md-7 col-sm-12 pad-0 txt-left">
						<button type="submit" class="submit-btn">submit</button>
					</div>
					<div class="col-md-5 col-sm-12 txt-right hidden-sm hidden-xs">
						<span class="cls-sub-box" id="cls-commn-sub-des">&times;</span>
					</div>
				</div>
			</form>
		</div> *@
	</div>
</div>
 
<!-- #Grid @* @CurrentPage.GetGridHtml("GridContent") *@ -->
 
@RenderBody()
<!-- Footer -->
<div class="container-fluid footer-bg fot-in-cont">
	<div class="container mycontainer pad-0 w-767-100">
		<div class="con-brd-top line-footer footer-line-mp"></div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			 @{ Html.RenderPartial("FooterNav"); }
				<img src="/Roshan/media/1077/footer-name.png" class="img-responsive dis-ib fot-nm hidden-xs">
		</div>

		<div class="col-md-6 col-sm-6 col-xs-6 text-right">
			<ul class="footer-menu">
				<li class="footer-right-li-mp">
					<a href="javascript:void(0);" class="footer-right-menu-fs">
						<i class="fa fa-facebook"></i>
					</a>
				</li>

				<li class="footer-right-li-mp">
					<a href="javascript:void(0);" class="footer-right-menu-fs">
						<i class="fa fa-twitter"></i>
					</a>
				</li>

				<li class="footer-right-li-mp">
					<a href="javascript:void(0);" class="footer-right-menu-fs">
						<i class="fa fa-youtube"></i>
					</a>
				</li>
			</ul>
            <img src="/Roshan/media/1077/footer-name.png" class="img-responsive dis-ib fot-nm visible-xs pull-right">
			<span class="copyright">ROSHAN © copyright 2016</span>
		</div>
	</div>
</div>
					

<!-- JQuery -->

<script src="/Roshan/scripts/jquery-1.12.0.min.js"></script>
<script src="/Roshan/scripts/bootstrap.min.js"></script>
<script src="/Roshan/scripts/modernizr.custom.js"></script>
<script src="/Roshan/scripts/jquery.dlmenu.js"></script>
<script src="/Roshan/scripts/wow.js"></script>
<script src="/Roshan/scripts/website.js"></script>
@{Html.RenderPartial("MapScript");}

<script type="text/javascript">
	wow = new WOW (
		{
			animateClass: 'animated',
			offset: 100,
			callback: function(box) {
				// console.log('hey');
			}
		}
	);
	wow.init();
</script>
</body>
</html>