/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h1 {
font-size: 1.5rem;
}

blockquote {
font-style: italic;
}

h2 {
font-size: 1.4rem;
}

h3 {
font-size: 1.2rem;
}

h5 {
font-size: 1rem; font-weight: 100;
}

p {
font-size: 1rem;
}



/**umb_name:Header*/
#Header{}

/**umb_name:Header 2*/
#Header2{}

/**umb_name:Header 3*/
#Header3{}

/**umb_name:Smooth*/
#Smooth{}

/**umb_name:Paragraph*/
#Paragraph{}

/**umb_name:Blockquote*/
#Blockquote{}

/**umb_name:imgText*/
.imgText{position: absolute;
top: 10px;
left: 30px;
width: 60%;}

/**umb_name:imgLink*/
.imgLink{position: absolute;
bottom: 40px;
left: 30px;
width: 100%;}

/**umb_name:imgView*/
.imgView{position: relative;
width: 100%;
height:100%;
max-width:100%;
max-height:100%;}

/**umb_name:centerText*/
.centerText{position: absolute;
top: 40px;
left: 30px;
width: 100%;
font-size:12px;}

/**umb_name:hoverbox*/
.hoverbox{width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-ms-transition: 0.3s all ease-in-out;}

/**umb_name:img2Text*/
.img2Text{position: absolute;
top: 140px;
left: 30px;
width: 60%;}





/**umb_name:lan-ttl-1*/
.lanTtl1{font-size: 20px;
	color: #fff;
	display: block;
	margin: 27px 15px 0px 15px;
	line-height: 25px;}

