/* Go crazy with your own styles here */
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */


/**umb_name:imgText*/
.imgText{position: absolute;
top: 10px;
left: 30px;
width: 60%;}

/**umb_name:img2Text*/
.img2Text{position: absolute;
top: 140px;
left: 30px;
width: 60%;}