@charset "UTF-8";

/* PFDinTextArabic-Light */

@font-face {
	font-family: 'PFDinTextArabic-Light';
	src: url('/Umbraco/assets/fonts/Custom/pfdin/light/pfdintextar-light.ttf'),
	url('/Umbraco/assets/fonts/Custom/pfdin/light/pfdintextar-light.otf'),
	url('/Umbraco/assets/fonts/Custom/pfdin/light/pfdintextar-light.eot'),
	url('/Umbraco/assets/fonts/Custom/pfdin/light/pfdintextar-light.svg'),
	url('/Umbraco/assets/fonts/Custom/pfdin/light/pfdintextar-light.woff2'),
	url('/Umbraco/assets/fonts/Custom/pfdin/light/pfdintextar-light.woff');
}

/* PFDinTextArabic-Bold */

@font-face {
	font-family: 'PFDinTextArabic-Bold';
	src: url('/Umbraco/assets/fonts/Custom/pfdin/bold/pfdintextar-bold.ttf'),
	url('/Umbraco/assets/fonts/Custom/pfdin/bold/pfdintextar-bold.otf'),
	url('/Umbraco/assets/fonts/Custom/pfdin/bold/pfdintextar-bold.eot'),
	url('/Umbraco/assets/fonts/Custom/pfdin/bold/pfdintextar-bold.svg'),
	url('/Umbraco/assets/fonts/Custom/pfdin/bold/pfdintextar-bold.woff2'),
	url('/Umbraco/assets/fonts/Custom/pfdin/bold/pfdintextar-bold.woff');
}

.revealOnScroll { opacity: 0; }

/* Global Use */

body {
	font-family:  "Gotham SSm A", "Gotham SSm B";
	font-style: normal;
	font-weight: 300;
}

a {
	text-decoration: none !important;
}

button {
	outline: none;
	-ms-outline: none;
	-o-outline: none;
	-moz-outline: none;
	-webkit-outline: none;
}

.dis-ib {
	display: inline-block;
}

.overflow-hid {
	overflow: hidden;
}

.clear {
	clear: both;
}

.w-100 {
	width: 100%;
}

.mar-0 {
	margin: 0px;
}

.pad-0 {
	padding: 0px;
}

.txt-left {
	text-align: left;
}

.txt-left-767 {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-right-767 {
	text-align: right;
}

.dis-no {
	display: none;
}

.transition-all {
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
}

.bg-white {
	background: #fff;
}

.bg-black {
	background: #000;
}

.pos-rltv {
	position: relative;
}

.disabled-link {
	pointer-events: none;
}

.color-red-thm {
	color: #ef0029;
}

.color-blue-thm {
	color: #0046b4;
}

.bg-light-gray {
	background: #cccccc;
}

.bg-medium-gray {
	background: #aeaeae;
}

.bg-dark-gray {
	background: #5f5f5f;
}

.bg-social-blue {
	background: #0046b4;
}

.bg-red {
	background: #ef0028;
}

.color-black {
	color: #000;
}

.color-white {
	color: #fff;
}

/*
============================================
	Website Navigation Starts Here
============================================
*/

.pad-top-menu {
	padding: 0 20px 0 10px;
}

.nav {
	position: relative;
	display: inline-block;
	top: 5px;
}

.nav ul {
	*zoom: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	/*background: #333;*/
}

.nav ul:before,
.nav ul:after {
	content: "";
	display: table;
}

.nav ul:after {
	clear: both;
}

.nav ul > li {
	float: left;
	position: relative;
	width: 145px;
}

.w-a {
	width: auto !important;
}

.nav .last-no-brdr {
	border-bottom-color: transparent !important;
}

.nav a {
	display: block;
	padding: 21px 0px;
	font-size: 16px;
	line-height: 1.2em;
	text-align: center;
	color: #adadad;
	border-bottom: 2px solid transparent;
	background: url('/Roshan/media/1076/border.png') no-repeat left 25%;
}

.nav li:hover a {
	border-color: #ef0029;
}

.nav a:hover {
	border-color: #ef0029;
}

.nav ul li:last-child {
	background: url('/Roshan/media/1076/border.png') no-repeat right 25%;
}

.srch-ico-nav {
	width: 53px;
	height: 63px;
}

.nav ul li.active a {
	border-color: #ef0029;
}

.nav li ul {
	background: #fff;
}

.nav li ul li {
	width: 146px;
}

.nav li ul a {
	padding: 13px 10px 13px 10px;
	text-align: left;
	color: #adadad !important;
	border: 1px solid rgba(173, 173, 173, 0.28) !important;
	background: #fff;
	font-size: 15px;
}

.nav li ul a span {
	float: right;
	font-size: 13px !important;
}

.nav li ul a:hover {
	background: #ef0029;
	color: #fff !important;
	border-color: #ef0029;
}

.nav ul ul li:hover ul {
	display: block;
}

.nav ul ul ul {
	display: none;
	top: 0px;
	left: 100%;
}

.nav ul ul ul li:hover ul.sub-3 {
	display: block;
}

.nav ul ul ul ul.sub-3 {
	display: none;
	top: 0px;
	left: 100%;
}

/* Fade In and Out
============================== */
.nav2 ul > li:hover ul {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
}

.nav2 li ul {
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: 200ms ease;
	-moz-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}

/* Fold Out
============================== */

/* Slide Down
============================== */
.nav3 ul > li:hover ul li {
  height: auto;
  visibility: visible;
}
.nav3 li ul {
  position: absolute;
  left: 0;
  top: 63px;
  z-index: 3;
}

.nav3 li ul li {
	visibility: hidden;
  /*overflow: hidden;*/
  height: 0;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
}

/*
============================================
	Website Navigation Ends Here
============================================
*/

/* b */

.breadcrumb-main {
	position: relative;
}

.breadcrumb-items {
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
}

.breadcrumb-items li {
	display: inline-block;
	padding: 12px 5px;
	font-size: 15px;
	color: #b2b2b2;
	text-transform: uppercase;
	font-weight: 900;
	position: relative;
}

.breadcrumb-items li i {
	/*font-size: 20px;*/
	/*position: absolute;*/
	/*top: 11px;*/
}

.breadcrumb-items li a {
	display: block;
	font-size: 10px;
	color: #b2b2b2;
	text-transform: uppercase;
	font-weight: 900;
}

/* Homepage */

.top-nav {
	margin: 0 0 0 5px;
	padding: 0;
	list-style-type: none;
}

.top-nav li {
	display: inline-block;
	margin-right: -6px;
}

.top-nav li:last-child {
	background: url('/Roshan/media/1076/border.png') no-repeat right center;	
}

.top-nav li a {
	background: url('/Roshan/media/1076/border.png') no-repeat left center;
	font-size: 14px;
	color: #adadad;
	padding: 5px 30px;
	display: block;
	margin: 0px;
}

.top-nav li.arebic a {
	font-family: 'pfdintextar-light';
	position: relative;
	top: 0;
	font-size: 21px;
	height: 30px;
	line-height: 17px;
}

.top-nav li a:hover {
	background: #ef0029;
	color: #fff;
}

.top-nav li a:active {
	background: #fff;
	color: rgba(0, 0, 0, .20);
}

.top-nav li.active a {
	background: #ef0029;
	color: #fff;
}

.con-brd-btm {
	border-bottom: 1px solid rgba(0, 0, 0, .20);
}

.con-brd-top {
	border-top: 1px solid rgba(0, 0, 0, .20);
}

.logo {
	padding: 14px 0px;
}

/* Search Pannel */

.pad-srch {
	padding: 30px 0px;
}

.pad-sub {
	padding: 30px 0px;
}

.srch-lbl {
	margin-right: 20px;
}

.srch-inp {
	background: #f1f1f1;
	font-size: 15px;
	color: rgba(0, 0, 0, .60);
	width: 86% !important;
	display: inline-block;
}

.srch-inp:focus {
	outline: none !important;
	-webkit-outline: none !important;
	-o-outline: none !important;
	-moz-outline: none !important;
	-ms-outline: none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	border-color: #ccc;
}

.srch-inp::-webkit-input-placeholder {
	color: #5d5d5d;
}
 
.srch-inp:-moz-placeholder { /* Firefox 18- */
	color: #5d5d5d;
}
 
.srch-inp::-moz-placeholder {  /* Firefox 19+ */
	color: #5d5d5d;
}
 
.srch-inp:-ms-input-placeholder {  
	color: #5d5d5d;
}

.srch-inp-full {
	background: #f1f1f1;
	font-size: 15px;
	color: rgba(0, 0, 0, .60);
	width: 87% !important;
	display: inline-block;
}

.srch-inp-full:focus {
	outline: none !important;
	-webkit-outline: none !important;
	-o-outline: none !important;
	-moz-outline: none !important;
	-ms-outline: none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	border-color: #ccc;
}

.srch-inp-full::-webkit-input-placeholder {
	color: #5d5d5d;
}
 
.srch-inp-full:-moz-placeholder { /* Firefox 18- */
	color: #5d5d5d;
}
 
.srch-inp-full::-moz-placeholder {  /* Firefox 19+ */
	color: #5d5d5d;
}
 
.srch-inp-full:-ms-input-placeholder {  
	color: #5d5d5d;
}

.submit-btn {
	font-size: 14px;
	color: #fff;
	padding: 7px 25px;
	background: #212121;
	border:0px;
}

.submit-btn:hover {
	background: #000;
}

.cls-sub-box {
	cursor: pointer;
	font-size: 25px;
	color: #000;
}

.cls-sub-box-mm {
	cursor: pointer;
	font-size: 25px;
	color: #000;
}

.cls-sub-box-mob {
	cursor: pointer;
	font-size: 35px;
	color: #000;
}

.cls-main-nav {
	position: relative;
	/*right: 3px;*/
}

.lang-mob {
	display: block;
	font-size: 18px;
	color: rgba(0, 0, 0, .20);
	padding: 16px 10px;
	font-family: 'pfdintextar-light';
	position: relative;
	top: 0;
	line-height: 25px;
}
.lang-mob-pad {
    padding-top: 15px;
}

.mob-hd-btns {
	border: 0px;
	background: #fff;
	color: rgba(0, 0, 0, .20);
	font-size: 18px;
	float: right;
}

.drdr-lmob-srchico {
	border-left: 1px solid rgba(0, 0, 0, .20);
	padding: 15px;
}

.srch-icon-pmmob {
	padding: 15px;	
}

.scr-ico-mobhw {
    width: 50px;
    height: 57px;
}

.pm-in {
	padding: 0 0 0 15px;
}

.logo-mob {
	padding: 11px 0 0 0;
}

/* Grid */

.lan-por-com {
	height: 350px;
	background-size: 105% 360px;
	background-position: top right;
	background-repeat: no-repeat;
	position: relative;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

.lan-por-com:hover {
  background-size: 100% 350px;
}

.por-com {
	height: 350px;
	background-size: 105% 360px;
	background-position: top right;
	background-repeat: no-repeat;
	position: relative;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3;
	-ms-transition: all ease-in-out 0.3s;
}

.por-com:hover {
  background-size: 100% 350px;
}

.lan-half {
	height: 175px;
	background-size: 103% 185px;
	background-position: top right;
	background-repeat: no-repeat;
	position: relative;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

.lan-half:hover {
	background-size: 100% 175px;
}

.lan-half-min-w {
	height: 175px;
	background-size: 103% 185px;
	background-position: top right;
	background-repeat: no-repeat;
	position: relative;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	-ms-transition: all ease-in-out 0.3s;
}

.lan-half-min-w:hover {
	background-size: 100% 175px;
}

.pos-all {
	position: relative;
	overflow: hidden;
}

.pos-all:hover img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.hoverbox {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-ms-transition: 0.3s all ease-in-out;
}

.pos-all:hover .hoverbox {
	background: rgba(0, 0, 0, .50);
}

.gp-mp {
	padding-top: 45px;
	padding-bottom: 30px;
}

.bg-grid-main {
	background: #f4f5f6;
	position: relative;
	z-index: 1;
}

.grid-img {
	max-width: 100%;
	max-height: 70%;
	display: block;
	margin: 0;
	padding: 0;
	-webkit-transform: scale(1.12);
	-moz-transform: scale(1.12);
	-o-transform: scale(1.12);
	-ms-transform: scale(1.12);
	transform: scale(1.12);
	transition: transform ease-in-out 0.3s;
	-webkit-transition: transform ease-in-out 0.3s;
}

.rw-grid {
	clear: both;
	overflow: hidden;
}

.lan-ttl-1 {
	font-size: 20px;
	color: #fff;
	display: block;
	margin: 27px 15px 0px 15px;
	line-height: 25px;
}

.por-ttl-1 {
	font-size: 18px;
	color: #fff;
	display: block;
	margin: 27px 15px 0px 15px;
	line-height: 25px;
}

.lan-ttl-2 {
	font-size: 18px;
	display: block;
	margin: 18px 15px 0px 15px;
	line-height: 25px;
}

.lm-main {
	position: absolute;
	bottom: 0;
	color: #fff;
	font-size: 15px;
	margin: 15px;
}

.lm-main:hover, .lm-main:focus {
	color: #fff;
}

.lm-main i {
	font-size: 12px;
	background: #fff;
	color: #000;
	padding: 1px 5px;
	border-radius: 50%;
	position: relative;
	top: -1px;
}

.lm-main-black {
	position: absolute;
	bottom: 0;
	color: #000;
	font-size: 15px;
	margin: 15px;
}

.lm-main-black:hover, .lm-main-black:focus {
	color: #000;
}

.lm-main-black i {
	font-size: 12px;
	background: #000;
	color: #fff;
	padding: 1px 5px;
	border-radius: 50%;
	position: relative;
	top: -1px;
}

.por-des-1 {
	margin-top: 25px;
}

.comn-descr {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 20px;
	padding: 0;
	font-size: 15px;
}

.date-grid {
	display: block;
	font-size: 13px;	
}

.mpdt-gd {
	padding: 20px 15px 5px 15px;
}

.load-more-btn-newsgrid {
	border: 2px solid rgba(0, 0, 0, .20);
	background: transparent;
	padding: 5px 20px;
	font-size: 18px;
	color: rgba(0, 0, 0, .50);
	display: inline-block;
}

.load-more-btn-newsgrid:hover.fa {
	transform: rotate(1turn);
	-webkit-transform: rotate(1turn);
	-moz-transform: rotate(1turn);
	-o-transform: rotate(1turn);
}

.load-more-btn-newsgrid span {
	padding: 0 10px 0 0;
}

.mr-lmbtngn {
	margin: 40px 0 0 0;
}

.cd-max-w {
	max-width: 250px;
}

.promo-gd-mp {
	padding: 15px 0 0 0;
}

.single-text {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 20px;
	padding: 0;
	font-size: 15px;	
}

.pad-lan-6-top {
	margin-top: 20px;
}

.pad-lan-6-btm {
	margin-bottom: 20px;
}

.lh-big-txt {
    line-height: 89px;
}

.big-text {
	font-size: 80px;
	display: block;
}

.pad-tm-top {
	padding-top: 30px;
	padding-bottom: 10px;
}

.temp {
    font-size: 79px;
    font-weight: 100;
    font-style: normal;
    position: relative;
    top: 37px;
}

.pad-wet {
	padding-top: 30px;
}

.margin-soc-txt {
	margin-top: 25px;
	margin-bottom: 25px;
}

.social-text {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 20px;
	font-size: 18px;
	color: #fff;
}

.social-text:hover, .social-text:focus {
	color: #fff;
}

.social-seprator {
	width: 70px;
	height: 1px;
	background: #fff;
	display: block;
	margin: 0 auto;
}

.pad-sottl {
	padding: 30px 0px 20px 0px;
}

.gd-btm-logs {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.gd-btm-logs img {
	width: 67px;
}

/* Footer */

.footer-bg {
	background: #f4f5f6;
}

.line-footer {
	height: 2px;
	margin: 0 15px;
}

.fot-in-cont {
	padding-top: 40px;
	padding-bottom: 20px;
}

.footer-menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer-menu li {
	display: inline-block;
}

.footer-menu li a {
	color: #868786;
	display: block;
}

.footer-menu-a {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer-menu-a li {
	display: inline-block;
}

.footer-menu-a li a {
	color: #868786;
	display: block;
}

.footer-left-li-mp {
	padding: 10px 10px;
}

.footer-right-li-mp {
	padding: 10px 10px;
}

.footer-left-menu-fs {
	font-size: 14px;
}

.footer-right-menu-fs {
	font-size: 25px;
}

.fot-nm {
	padding: 0 10px;
}

.copyright {
	color: #868786;
	display: inline-block;
	padding: 0 10px;
	font-size: 14px;
}

/* Subscribe Panel */

.sub-des-ttl {
	font-size: 13px;
	display: block;
}

.sub-descr-color {
	color: #a4a4a4;
}

.mr-subfrm-rw {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pd-sb-mb {
	padding: 0;
}

.tt-cl {
	text-align: center;
}

.tt-lr {
	text-align: left;
}

/* Mobile Menu */

.pos-rel-mobmenu {
	position: relative;
	z-index: 2;
	padding: 0;
}

/* Search Result */

.inner-box {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .20);
}

.ib-box-pd-srp {
	padding: 25px;
}

.text-common {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
}

.tc-color {
	color: #353535;
}

.keyword {
	color: #ef0028;
	text-decoration: none !important;
}

.keyword:hover {
	color: #ef0028;
}

.pad-tc-sp {
	padding: 15px 0 30px 0;
}

.search-result {
	padding: 0 30px 50px 30px;
}

.result-ttl {
	font-size: 18px;
	font-weight: 400;
	display: block;
	color: #f00028;
}

.common-descr {
	font-size: 12px;
	font-weight: 400;
	display: block;
	color: #222222;
	margin: 0;
	padding: 0;
}

.pd-des-srp {
	padding: 0 0 20px 0;
}

.vp-link {
	font-size: 12px;
	font-weight: 500;
	display: inline-block;
	color: #f00028;
	padding: 0;
	margin: 0;
}

.vp-link:hover, .vp-link:focus {
	color: #f00028;	
}

.vp-link span {
	background: #f00028;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 17px;
	height: 17px;
	font-size: 15px;
	position: relative;
	top: 1px;
	margin: 0 5px 0 0;
}

.vp-link span i {
	display: inline-block;
	position: relative;
	top: -2px;
	left: 1px;
}

/* Generic Text + WP */

.pad-tc-gtp {
	padding: 5px 0 20px 0;
}

.pad-tc-gtp-1 {
	padding: 10px 0 20px 0;
}

.common-pad {
	padding: 0 30px;
}

.midlink {
	color: #ef0028;
	font-weight: 600;
}

.midlink:hover, .midlink:focus {
	color: #ef0028;
}

.pd-des-gtp {
	padding: 0 0 30px 0;
}

.common-heading-bold {
	font-size: 12px;
	font-weight: 700;
	display: block;
	color: #222222;
	margin: 0;
	padding: 0;
}

.prew-link {
	font-size: 12px;
	font-weight: 500;
	display: inline-block;
	color: #f00028;
	padding: 0;
	margin: 0;
}

.prew-link:hover, .prew-link:focus {
	color: #f00028;	
}

.prew-link span {
	background: #f00028;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 15px;
	height: 14px;
	font-size: 13px;
	position: relative;
	top: 2px;
	margin: 0 4px 0 0;
}

.prew-link span i {
	display: inline-block;
	position: relative;
	top: -2px;
	left: 0px;
}

.pad-link-prew {
	padding: 0 0 20px 0;
}

/* Promotion */

.promo-big {
	height: 446px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.promo-inner {
	position: absolute;
	width: 570px;
	height: 446px;
	top: 0px;
	left: 0px;
}

.ttl-promo {
	font-weight: 900;
	color: #fff;
	font-size: 25px;
	display: block;
}

.dscr-promo {
	display: block;
	line-height: 20px;
	padding: 0;
	font-size: 15px;
}

.cta-promo {
	display: inline-block;
	padding: 7px 20px;
	text-align: center;
	border: 1px solid #fff;
	font-size: 18px;
	color: #fff;
}

.cta-promo:hover, .cta-promo:focus {
	color: #fff;
}

.cont-hndl-promo {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 15px;
}

.mrcta-promo {
	margin: 10px 0;
}

/* Plans */

.ss-outer {
	padding: 0 0 50px 0;
	overflow: hidden;
}

.ss-inner {
	min-height: 370px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.transparent-box-ss {
	width: 350px;
	min-height: 370px;
}

.bg-trans-blue-ss {
	background: rgba(0, 70, 180, .50);
	padding: 20px 25px;
}

.bg-ss-solid-blue {
	background: #0046b4;
}

.bg-trans-red-ss {
	background: rgba(239, 0, 40, .50);
	padding: 20px 25px;
}

.bg-ss-solid-red {
	background: #ef0028;
}

.str-flt-l {
	float: left;
}

.str-flt-r {
	float: right;
}

.ss-trnsbx-ttl {
	font-weight: 400;
	font-size: 25px;
	display: block;
	text-transform: uppercase;
}

.ss-ttl-mp {
	padding: 10px 0 7px 0;
}

.ss-trnsbx-descr {
	font-size: 15px;
	line-height: 25px;
	display: block;
	margin: 0;
	padding: 0;
}

.ss-bx-btm {
	width: 700px;
	padding: 20px 15px;
	overflow: hidden;
}

.ss-flt-l {
	float: left;
}

.ss-flt-r {
	float: right;
}

.ss-bx-txt {
	font-size: 12px;
	display: block;
}

.mp-ss-txt {
	padding: 7px 0 0 0;
}

.cta-ss {
	display: inline-block;
	padding: 4px 15px 5px 15px;
	text-align: center;
	border: 1px solid #fff;
	font-size: 15px;
	color: #fff;
}

.cta-ss:hover, .cta-ss:focus {
	color: #fff;
}

.ipm-ss {
	padding: 0 0 0 10px;
	font-size: 20px;
	position: relative;
	top: 2px;
}

.compr-ttl {
	font-size: 23px;
	display: block;
	font-weight: 300;
}

.pm-compttl {
	padding: 30px 30px 15px 30px;
}

.compr-boxes {
	padding: 0px 30px 40px 30px;
}

.mp-cbttl {
	margin: 0 0 15px 0;
}

.sepcmp-bg-1 {
	background: #afafaf;
}

.sepcmp-bg-2 {
	background: #d7d7d7;
}

.sep-cmpr-bx {
	width: 100%;
	height: 1px;
	display: block;
}

.featurs-outer {
	padding: 0 0 22px 0;
	overflow: hidden;
}

.fet-descr {
	font-size: 13px;
	line-height: 25px;
	display: block;
}

.end-sep-mp {
	margin: 10px 0px 30px 0px;
}

/* Plans Inner */

.pli-big {
	height: 446px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.pli-ban-bg-cont {
	position: relative;
	width: 285px;
	height: 446px;
	top: 0px;
	left: 0px;
}

.bg-banpli {
	background: rgba(255, 255, 255, .10);
}

.vertical-nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	background: #fff;
}

.vertical-nav li {
	display: block;
}

.vertical-nav li span {
	font-size: 15px;
	padding: 0 10px 0 0;
}

.vertical-nav li a {
	display: block;
	font-size: 12px;
	font-weight: 800;
	color: #5f5f5f;
	padding: 20px 15px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, .20);
}

.vertical-nav li a:hover, .vertical-nav li a:focus {
	color: #ef0029;
}

.vertical-nav li.active a {
	color: #ef0029;
}

.s-box {
	padding: 28px 30px 29px 30px;
}

.ttl-sbox {
	font-size: 18px;
	display: block;
}

.s-box-descr {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.ff-ttl {
	font-size: 15px;
	display: block;
	font-weight: 500;
}

.pdtl-mp {
	padding: 20px 20px 5px 33px;
}

.ff-list {
	margin: 0;
	padding: 0 15px 15px 40px;
	list-style-type: none;
	/*position: relative;*/
}

.ff-list li {
	font-size: 11px;
	display: block;
	padding: 5px 0px 5px 25px;
	color: #fff;
}

.ff-list li:before {
	content: " ";
	width: 6px;
	height: 6px;
	background: #fff;
	position: absolute;
	left: 47px;
	display: block;
	border-radius: 50%;
	/*padding: 0;*/
	margin: 3px 0 0 0;
}

.sd-box {
	padding: 30px;
	overflow: hidden;
	border-left: 1px solid rgba(0, 0, 0, .20);
}

.sd-outer {
	overflow: hidden;
}

.border {
	border-bottom: 1px solid rgba(0, 0, 0, .20);
}

.sd-otr-pd-hd {
	padding: 15px 0px;
}

.sd-otr-pd-des {
	padding: 23px 0px;
}

.sd-ttl {
	display: block;
	font-size: 18px;
}

.sd-ttl-color {
	color: #353535;
}

.sd-des {
	display: block;
	font-size: 12px;
}

.sd-des-color {
	color: #353535;
}

.str-ttl {
	display: inline-block;
	transform: uppercase;
	font-size: 15px;
}

.mr-sl-txt {
	margin: 0 30px 0 0;
}

.str-lct-cta {
	display: inline-block;
	background: #ef0028;
	color: #fff;
	font-size: 11px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.sl-cta-pos {
	position: relative;
	top: -2px;
	margin: 10px 0px;
}

.str-lct-cta:hover, .str-lct-cta:focus {
	color: #fff;
	background: #d41c3b;
}

/* Promotion Options */

.po-box-outer {
	padding: 0 0 50px 30px;
	overflow: hidden;
}

.pd-box {
	padding: 1px;
}

.po-box {
	height: 288px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.pobx-descr {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 20px;
	padding: 0;
	font-size: 18px;
}

.po-dmp {
	padding: 45px 0 0 0;
}

/* Top Menu Tabs Mob */

.tm-tabs {
	background: url('/Roshan/media/1076/border.png') no-repeat left center;
	font-size: 14px;
	color: #adadad;
	display: block;
	padding: 5px 0px;
}

.top-menu-tabs:last-child .lst {
	background: url('/Roshan/media/1076/border.png'), url('/Roshan/media/1076/border.png');
	background-repeat: no-repeat;
	background-position: left center, right center;
}

.top-menu-tabs:last-child .lst:hover {
	background: #ef0029;
	color: #fff;
}

.tm-tabs:hover, .tm-tabs:focus {
	background: #ef0029;
	color: #fff;
}

.tm-tabs.active {
	background: #ef0029;
	color: #fff;
}

/* Contact Page */

.mh-con-b {
	min-height: 300px;
}

.contact-inner {
	padding: 20px 50px;
}

.contact-ttl {
	font-size: 16px;
	display: block;
}

.padm-ct {
	padding: 40px 0 30px 0;
}

.contact-descr {
	font-size: 13px;
	display: block;
}

.cslcta-mp {
	margin: 30px 0 0 0;
}

#map-canvas {
	width: 100%;
	height: 450px;
}

/* Contact Page With Form */

.contact-inner-form {
	padding: 20px 20px 20px 50px;
}

.inp-label {
	font-size: 16px;
	display: block;
}

.inp-lbl-mp {
	margin: 5px 0 0 0;
}

.cont-inp-mp {
	margin: 10px 0px 25px 0px;
	overflow: hidden;
}

.contact-inp {
	background: #f1f1f1;
	font-size: 12px;
	color: rgba(0, 0, 0, .60);
	border-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}

.contact-inp:focus {
	outline: none !important;
	-webkit-outline: none !important;
	-o-outline: none !important;
	-moz-outline: none !important;
	-ms-outline: none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	border-color: transparent;
}

.contact-inp::-webkit-input-placeholder {
	color: #5d5d5d;
}
 
.contact-inp:-moz-placeholder { /* Firefox 18- */
	color: #5d5d5d;
}
 
.contact-inp::-moz-placeholder {  /* Firefox 19+ */
	color: #5d5d5d;
}
 
.contact-inp:-ms-input-placeholder {  
	color: #5d5d5d;
}

.txara-h {
	height: 90px !important;
}

.padm-ct-wf {
	padding: 20px 0 20px 0;
}

.cslcta-mp-wf {
	margin: 50px 0px;
}

/* Store Locator */

.mp-sl-inr {
	padding: 25px 25px 5px 25px;
}

.sl-ttl, .sl-tbl-ttl {
	font-size: 16px;
	display: block;
}

.mp-sltl {
	padding: 30px 0px 20px 0px;
}

.sl-des {
	display: block;
	font-size: 13px;
}

.mp-sltd {
	padding: 20px 0px;
	overflow: hidden;
}

.border-sl-tbl {
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

.mp-sl-drodwn {
	padding: 40px 0px;
}

.ddsl-ttl {
	display: inline-block;
	font-weight: 800;
	font-size: 13px;
}

.ddsltl-mp {
	margin: 0 15px 0 0;
}

/* Common Dropdown */

.dropdown-outer {
	position: relative;
}

.dropdown-outer.fixed-w {
	width: 190px;
}

.dropdown-btn {
	padding:5px 15px;
	font-size: 11px;
	color: #fff;
	background: #ef0028;
	border: 0px;
	position: relative;
}

.dropdown-btn.default-mar {
	margin: 10px 0px;
}

.dropdown-btn.default-w {
	width: 190px;
}

.dropdown-btn .icon {
	float: right;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	top: 1px;
}

.dropdown-btn:hover, .dropdown-btn:focus {
	color: #fff;
	background: #d41c3b;
}

.dropdown-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.dropdown-list li {
	display: block;
}

.dropdown-list li a {
	display: block;
	font-size: 11px;
	padding: 7px 15px;
	color: #000;
	background: #fff;
	text-decoration: none !important;
}

.dropdown-list li a:hover, .dropdown-list li a:focus {
	color: #000;
}

.dropdown-list.dd-h {
	height: 203px;
}

.load-more-outer {
	position: absolute;
	left: 0px;
	z-index: 3;
	border: 1px solid rgba(0, 0, 0, .10);
}

.load-more-outer.mp-lmo {
	padding: 10px 0 0 0;
}

.load-more-outer.list-dw {
	width: 100%;
}

.load-more-outer.list-top {
	top: 35px;
}

.load-more {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

#main-cl li {
	display: none;
}

/* Infowindow */

.infowin-outer {
	/*border: 1px solid rgba(0, 0, 0, .50);*/
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .30);
	background: #fff;
	width: 100%;
	padding: 40px 15px;
	position: relative;
	z-index: 3;
}

/*.infowin-outer:before {
	content: " ";
	position: absolute;
	top: 50%;
	right: -10px;
	margin-top: -10px;
	background: inherit;
	z-index: 1;
	width: 20px;
	height: 20px;
	transform: rotate(44deg);
	-webkit-transform: rotate(44deg);
}*/

.win-ttl {
	display: block;
	font-size: 18px;
	font-weight: 400;
}

.win-ttl.color {
	color: #ef0029;
}

.addr-main {
	margin: 0;
	padding: 0;
	font-size: 11px;
	display: block;
}

.mp-iw-itx {
	padding: 0 0 20px 0;
}

/* International */

.inter-inner {
	padding: 30px 50px;
}

.rw-intr-tmp {
	padding: 0 0 40px 0;
}

.hilt-it {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

.intr-txt-1 {
	font-size: 12px;
	display: block;
}

.clintrb-mp {
	margin: 15px 0px;
}

.clintrl-top {
	top: 40px;
}

.rate-tbl {
	margin-bottom: 0px;
}

.rate-tbl tr th {
	border-bottom: 1px solid rgba(0, 0, 0, .10) !important;
	border-top: 0px !important;
	font-size: 14px;
	color: #ef0029;
	font-weight: normal;
	padding: 10px 0px !important;
	text-align: center;
}

.rate-tbl tr td {
	font-size: 14px;
	color: rgba(0, 0, 0, .50);
	font-weight: normal;
	padding: 20px 0px !important;
	border-color: rgba(0, 0, 0, .10) !important;
	text-align: center;
}

.bigtxt-tbl {
	font-size: 18px;
	display: block;
	font-weight: bold;
}

.pad-tbl-big {
	padding: 0px 0px 5px 0px;
}

.tick {
	font-size: 25px !important;
	color: #07A830;
}

/*
==========================
Responsive Media Quries
==========================
*/

@media (max-width: 1230px) {
	.srch-inp {
		width: 83% !important;
	}

	/*.pad-tm-top {
		padding-top: 15px;
	}

	.pad-lan-6-top {
		margin-top: 15px;
	}*/
}

@media (max-width: 1200px) {
	.mycontainer {
		width: 1120px !important;
		padding: 0;
	}

	.line-footer {
		margin: 0;
	}

	.pad-0-1200 {
		padding: 0;
	}

	.lan-por-com {
		background-size: cover;
		background-position: center;
	}

	.lan-por-com:hover {
		background-size: cover;
	}

	.por-com {
		background-size: cover;
		background-position: center;
	}

	.por-com:hover {
		background-size: cover;
	}

	.lan-half {
		background-size: cover;
		background-position: center;
	}

	.lan-half:hover {
		background-size: cover;
	}

	.lan-half-min-w {
		background-size: cover;
		background-position: center;
	}

	.lan-half-min-w:hover {
		background-size: cover;
	}

	.big-text {
		font-size: 75px;
	}
}

@media (max-width: 1133px) {
	.mycontainer {
		width: 100% !important;
		padding: 0;
	}
}

@media (max-width:1084px) {
	.nav ul > li {
		width: 134px;
	}
}

@media (max-width: 1080px) {
	.srch-inp {
		width: 82% !important;
	}

	.footer-left-li-mp {
		padding: 10px 9px;
	}
}

@media (max-width: 1024px) {
	.nav ul > li {
		width: 135px;
	}
}

@media (max-width:1023px) {
	.nav ul > li {
		width: 120px;
	}

	.nav a {
		font-size: 14px;
		line-height: 19px;
	}

	.nav li ul a {
		font-size: 14px;
	}

	.footer-left-li-mp {
		padding: 10px 5px;
	}

	.rate-tbl {
		width: 900px !important;
	}

	.rate-tbl tr th, .rate-tbl tr td {
		white-space: nowrap !important;
	}

	.m-tbl {
		overflow-x: scroll;
		min-width: 100%;
	}
}

@media (max-width: 991px) {
	.txt-left, .txt-right {
		text-align: left;
	}

	.txt-right {
		text-align: right;
	}

	.top-nav li a {
		/*font-size: 16px;*/
		/*line-height: 28px;*/
	}

	.top-nav li.arebic a {
		font-size: 16px;
		line-height: 19px;
		height: 30px;
	}

	.nav ul > li {
		width: auto;
	}

	.nav a {
		padding: 21px 14px;
	}

	.nav li ul li {
		width: 149px;
	}

	.footer-left-li-mp {
	    padding: 10px 5px;
	}
}

@media (max-width: 992px) {
	.main-nav {
		margin:0;
	}

	.logo {
		padding: 19px 0px 10px 0px;
	}

	.w-100-992 {
		width: 100% !important;
	}
}

@media (max-width: 930px) {
	.srch-inp {
		width: 90% !important;
	}

	/*.lh-big-txt {
	    line-height: 60px;
	}

	.comn-descr {
		font-size: 11px;
		line-height: 16px;
	}*/

	.w-100-930 {
		width: 100%;
	}
}

@media (max-width:918px) {
	.footer-left-li-mp {
		padding: 10px 3px;
	}
}

@media (max-width: 887px) {
	.cslcta-mp-wf {
		margin: 41px 0px;
	}
}

@media (max-width: 885px) {
	.top-nav li a {
		/*font-size: 14px;*/
		/*line-height: 29px;*/
		padding: 5px 25px;
	}

	.top-nav li.arebic a {
		/*font-size: 14px;*/
		/*line-height: 29px;*/
		/*height: 39px;*/
	}

	.gd-btm-logs img {
		width: 50px;
	}
}


@media (max-width:878px) {
	.nav a {
		padding: 21px 10px;
		font-size: 13px;
	}

	.nav li ul li {
		width: 120px;
	}

	.nav li ul a {
		font-size: 13px;
		padding: 13px 10px 16px 10px;
	}

	.footer-left-menu-fs {
		font-size: 13px;
	}
}

@media (max-width: 829px) {
	.footer-left-menu-fs {
		font-size: 12px;
	}

	.cslcta-mp-wf {
		margin: 44px 0px 20px 0px;
	}
}

@media (max-width: 800px) {
	/*.big-text {
		font-size: 64px;
	}

	.pad-sottl {
		padding: 20px 0px 10px 0px;
	}

	.por-des-1 {
		margin-top: 15px;
	}*/

	.hidden-xs {
		display: none !important;
	}

	.hidden-sm.hidden-md.hidden-lg {
		display: block !important;
	}

	.con-brd-btm {
		padding: 0 15px;
	}

	.top-nav li {
		width: 25%;
		text-align: center;
	}

	.line-footer {
		margin: 0;
	}

	.footer-line-mp {
	    padding: 20px 0 0 0;
	}

	.footer-menu-a li {
		display: block;
	}

	.footer-left-menu-fs {
		font-size: 18px;
	}

	.footer-left-li-mp {
		padding: 0px 10px 10px 10px;
	}

	.copyright {
		font-size: 13px;
	}

	.w-767-100 {
		width: 100% !important;
	}

	.fot-nm {
		padding: 20px 0 40px 0px;
	}

	.pad-srch {
		padding: 30px 0 30px 0;
	}

	.visible-xs {
	    display: block !important;
	}

	.srch-inp {
		width: 88% !important;
	}

	.rate-tbl {
		width: 100% !important;
	}

	.rate-tbl tr th, .rate-tbl tr td {
		white-space: normal !important;
	}

	.m-tbl {
		overflow-x: visible;
		min-width: 100%;
	}
}

@media (max-width: 767px) {
	.breadcrumb-items {
		margin: 0 0 0 15px;
	}

	.srch-lbl {
		margin-right: 20px;
		float: left;
		margin-top: 5px;
	}

	.srch-inp {
		width: 89% !important;
		float: left;
	}

	.pad-0-767 {
		padding: 0px;
	}

	.grid-img {
		width: 100%;
		height: 100%;
		display: block;
		margin: 0;
		padding: 0;
	}

	.cls-main-nav {
		top: -6px;
		right: 0px;
	}

	/*.comn-descr {
		font-size: 15px;
		line-height: 20px;
	}

	.lh-big-txt {
		line-height: normal;
	}

	.pad-lan-6-top {
		margin-top: 20px;
	}

	.pad-sottl {
		padding: 30px 0px 20px 0px;
	}

	.por-des-1 {
		margin-top: 25px;
	}*/

	.line-footer {
		margin: 0;
	}

	.footer-menu-a li {
		display: block;
	}

	.footer-left-menu-fs {
		font-size: 18px;
	}

	.footer-left-li-mp {
		padding: 0px 10px 10px 10px;
	}

	.copyright {
		font-size: 12px;
	}

	.w-767-100 {
		width: 100% !important;
	}

	.fot-nm {
		padding: 20px 0 40px 0px;
	}

	.pad-srch {
		padding: 13px 0 30px 0;
	}

	.por-com {
	  /*background-size: 103% 710px;*/
	  height: 700px;
	}

	.por-com:hover {
	  /*background-size: 100% 700px;*/
	}

	.lan-half-min-w {
		/*background-size: 103% 460px;*/
		height: 450px;
	}

	.lan-half-min-w:hover {
		/*background-size: 100% 450px;*/
	}

	.pad-sub {
		padding: 30px 0px 18px 0px;
	}

	.ib-box-pd-srp {
		padding: 15px;
	}

	.search-result {
		padding: 0 0px 30px 0px;
	}

	.gtp-mob {
		padding: 0 15px;
	}

	.common-pad {
		padding: 0;
	}

	.gp-mp {
		padding-left: 0px;
		padding-right: 0px;
	}

	.gp-mp-other {
		padding-left: 0px;
		padding-right: 0px;
	}

	.promo-inner {
		width: 100%;
	}

	.footer-line-mp {
		padding: 20px 0 0 0;
	}

	.fot-in-cont {
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
	}

	#search-box, #subscribe-box {
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 2;
		background: #fff;
	}

	.ttdir {
		text-align: center;
	}

	.tt-lr {
		text-align: right;
	}

	.pd-sb-mb {
		padding: 0 15px 0 0;
	}

	.tt-cl {
		text-align: left;
	}

	.srch-inp-full {
		width: 100% !important;
		margin: 10px 0px;
	}

	.compr-boxes {
		padding: 0px 15px 40px 15px;
	}

	.pm-compttl {
		padding: 30px 15px 15px 15px;
	}

	.mob-mp-cb {
		padding: 15px 0 0 0;
	}

	.s-box {
		padding: 30px 15px;
	}

	.sd-box {
		padding: 15px;
	}

	.pdtl-mp {
		padding: 20px 15px 5px 15px;
	}

	.ff-list {
		padding: 0 15px 15px 20px;
	}

	.ff-list li:before {
		left: 25px;
	}

	.po-box-outer {
		padding: 0;
	}

	.con-brd-btm {
	    padding: 0 0px;
	}

	.top-nav li:first-child {
		margin-left: -8px;
	}

	.top-nav li:last-child {
		position: relative;
	    left: 3px;
	}

	.logo-mob {
	    padding: 11px 0 0 20px;
	}

	#subscribe-box {
		padding: 15px 0;
	}

	#search-box {
		padding: 15px 0 30px 0px;
	}

	.mh-con-b {
		min-height: auto;
	}

	.contact-inner {
		padding: 0px 15px 40px 15px;
	}

	.contact-ttl {
		font-size: 20px;
	}

	.padm-ct {
		padding: 30px 0 10px 0;
	}

	.contact-inner-form {
		padding: 0px 15px 40px 15px;
	}

	.padm-ct-wf {
		padding: 30px 0 10px 0;
	}

	.mp-sl-inr {
		padding: 15px 15px 5px 15px;
	}

	.infowin-outer {
		padding: 30px 15px;
	}

	.inter-inner {
		padding: 30px 15px;
	}

	.nobrdr-mob {
		border: 0px;
	}

	.gd-btm-logs img {
		width: 67px;
	}
}

@media (max-width: 720px) {
	.ss-bx-btm {
		width: 100%;
		padding: 20px 25px;
	}
}

@media (max-width: 710px) {
	.srch-inp {
		width: 82% !important;
	}
}

@media (max-width: 660px) {
	.mp-ss-txt {
		padding: 0;
	}
}

@media (max-width: 600px) {
	.srch-inp {
		width: 85% !important;
	}

	.por-com {
	  /*background-size: 103% 510px;*/
	  height: 500px;
	}

	.por-com:hover {
	  /*background-size: 100% 500px;*/
	}

	.lan-half-min-w {
		/*background-size: 103% 360px;*/
		height: 350px;
	}

	.lan-half-min-w:hover {
		/*background-size: 100% 350px;*/
	}

	.temp {
		font-size: 55px;
	}

	.img-weather-icon {
		width: 113px;
	}

	/*.lan-por-com {
	  background-size: 103% 310px;
	  height: 300px;
	}

	.lan-por-com:hover {
	  background-size: 100% 300px;
	}*/

	.sl-tbl-ttl {
		font-size: 14px;
	}

/*	.rate-tbl {
		width: 550px !important;
	}*/
}

@media (max-width: 560px) {
	/*.footer-left-li-mp {
		padding: 7px;
	}*/

	.cta-ss {
		font-size: 13px;
		padding: 4px 10px 5px 10px;
	}

	.ipm-ss {
		font-size: 17px;
	}

	.sl-tbl-ttl {
		font-size: 12px;
	}
}

@media (max-width: 520px) {
	.lan-half-min-w {
		/*background-size: 103% 260px;*/
		height: 250px;
	}

	.lan-half-min-w:hover {
		/*background-size: 100% 250px;*/
	}

	.srch-inp {
		width: 83% !important;
	}

	.text-common {
		font-size: 18px;
	}

	.result-ttl {
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.bigtxt-tbl {
		font-size: 14px;
	}

	.rate-tbl tr th, .rate-tbl tr td {
		font-size: 12px;
	}

	.tick {
		font-size: 20px !important;
	}
}

@media (max-width: 490px) {
	.srch-inp {
		width: 82% !important;
	}

	.big-text {
		font-size: 50px;
	}

	.por-com {
	  /*background-size: 103% 410px;*/
	  height: 400px;
	}

	.por-com:hover {
	  /*background-size: 100% 400px;*/
	}

	.lan-half {
		height: 120px;
		/*background-size: 103% 125px;*/
	}

	.lan-half:hover {
		/*background-size: 100% 120px;*/
	}

	.pad-lan-6-top {
		margin-top: 7px;
	}

	.lh-big-txt {
		line-height: 65px;
	}

	.pad-tm-top {
		padding-top: 9px;
	}

	.sl-tbl-ttl {
		font-size: 11px;
	}

/*	.rate-tbl {
		width: 430px !important;
	}*/
}

@media (max-width: 480px) {
	.ttdir {
		text-align: left;
	}
}

@media (max-width: 475px) {
	.transparent-box-ss {
		width: 100%;
		min-height: auto;
	}

	.ss-inner {
		min-height: auto;
	}

	.w-100-475 {
		width: 100% !important;
		padding: 10px 0px;
	}

	.str-flt-l {
		float: none;
	}

	.str-flt-r {
		float: none;
	}
}

@media (max-width: 470px) {
	.mob-hd-btns, .lang-mob {
		font-size: 16px;
	}

	.logo-mob {
	    padding: 16px 0 0 15px;
	    width: 70%;
	}

	.scr-ico-mobhw {
		height: 56px;
	}

	.cls-main-nav {
		top: -8px;
		right: 1px;
	}

	.copyright {
	    font-size: 12px;
	}

/*	.rate-tbl {
		width: 500px !important;
	}*/
}

@media (max-width: 445px) {
	.srch-inp {
		width: 81% !important;
	}
	.copyright {
	    font-size: 11px;
	}
}

@media (max-width: 435px) {
	.w-mob {
		width: 42% !important;
	}

	.w-mob-2 {
		width: 58% !important;
	}

	.lan-por-com {
		height: 390px;
	}
}

@media (max-width: 420px) {
	.logo-mob {
		width: 100%;
	}

	.por-com {
	  /*background-size: 103% 360px;*/
	  height: 350px;
	}

	.por-com:hover {
	  /*background-size: 100% 350px;*/
	}

	.cls-main-nav {
		top: -4px;
		right: 1px;
	}

	.srch-inp {
		width: 100% !important;
	}

	.footer-left-menu-fs {
		font-size: 13px;
	}

	.copyright {
		font-size: 9px;
	}

	#search-box {
		padding: 2px 0 30px 0px;
	}

	.tm-tabs {
		font-size: 12px;
	}
}

@media (max-width: 400px) {
	.txt-left-767, .txt-right-767 {
		text-align: center;
	}

	.w-440-100 {
		width: 100% !important;
	}

	.w-100-360 {
		width: 100%;
	}

	.sl-tbl-ttl {
		font-size: 10px;
	}

	.bigtxt-tbl {
		font-size: 12px;
	}

	.rate-tbl tr th, .rate-tbl tr td {
		font-size: 11px;
	}

	.tick {
		font-size: 18px !important;
	}

	.footer-right-menu-fs {
		font-size: 20px;
	}
}

@media (max-width: 390px) {
	.mob-hd-btns, .lang-mob {
		font-size: 21px;
	}

	.w-mob {
		width: 36% !important;
	}

	.w-mob-2 {
		width: 64% !important;
	}
}

@media (max-width: 360px) {
	.logo-mob {
	    padding: 20px 0 0 10px;
	}

	.w-mob {
		width: 34% !important;
	}

	.w-mob-2 {
		width: 66% !important;
	}

	.pd-sb-mb {
		padding: 0;
	}

	.tm-tabs {
		font-size: 10px;
	}
}

@media (max-width: 353px) {
	.copyright {
		font-size: 8px;
	}
}

@media (max-width: 350px) {
	.top-nav li a {
		font-size: 12px;
		padding: 5px 0px;
	}

	.footer-left-menu-fs {
		font-size: 12px;
	}

	.bigtxt-tbl {
		font-size: 10px;
	}

	.rate-tbl tr th, .rate-tbl tr td {
		font-size: 9px;
	}

	.tick {
		font-size: 16px !important;
	}
}

@media (max-width: 340px) {
	.logo-mob {
		width: 100%;
	}

	.w-mob {
		width: 30% !important;
	}

	.w-mob-2 {
		width: 70% !important;
	}
}

:required:blur {
  border: 1px solid red;
}
/**
 * style input elements that have a required
 * attribute and a focus state
 */
input:required:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:required:hover {
  opacity: 1;
}