﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@*
    This snippet makes a breadcrumb of parents using an unordered html list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ 
	var selection = CurrentPage.Ancestors(); 
	var masterPage = CurrentPage.Site();
	var selectedTab = CurrentPage.AncestorsOrSelf(2).First();
}

@if (selection.Any())
{
    <ul class="breadcrumb-items">
		 <li><a href="#" class="disabled-link">@CurrentPage.Name</a></li>
        @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
			@foreach (var item in selection.OrderBy("Level desc"))
			{
				if(@item.Name != @masterPage.Name)
				{
					if(@item.Name != @selectedTab.Name)
					{<li><i class="fa fa-angle-left"></i></li>
					
						<li><a href="@item.Url">@item.Name</a></li>
						}
						
				}
			}
        @* Display the current page as the last item in the list *@
        
    </ul>
}
