﻿@using Examine.LuceneEngine.SearchCriteria

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    string searchTerm = Request.QueryString["keywords"];
    if (String.IsNullOrWhiteSpace(searchTerm))
    {
        searchTerm = "";
    }

    var searcher = ExamineManager.Instance;
    var searchCriteria = searcher.CreateSearchCriteria();

    var query = searchCriteria.GroupedOr(new[] { "nodeName", "name", "title", "gridContent", "menuText" }, searchTerm).Compile();

    var searchResults = searcher.Search(query).Where(r => r["__IndexType"] == "content").ToList();
    var count = 0;    
}

@if (searchResults.Any())
{
    <div class="inner-box ib-box-pd-srp">
		@foreach (var result in searchResults)
        { count++;
		}
	<span class="text-common tc-color pad-tc-sp"> Found @count Pages For <span class="keyword">"@searchTerm"</span></span>
        @foreach (var result in searchResults)
        {
            var node = Umbraco.TypedContent(result.Id);
            var pathIds = result["__Path"].Split(',');

            var path = Umbraco.TypedContent(pathIds).Where(p => p != null).Select(p=> new {p.Name}).ToList();
            <div class="search-result">
				
                <span class="result-ttl">
                        @String.Join(" | ", path.Select(p => p.Name))
					</span>

                    @if (result.Fields.ContainsKey("title"))
                    {
                        <p class="results-title"><strong>@result["title"]</strong></p>
                    }

                    @if (result.Fields.ContainsKey("menuText"))
                    {
                        <p class="common-descr pd-des-srp">@result["menuText"]</p>
                    }

                    @* Uncomment this to see all the fields returned in the search 
                    <p>
                        @foreach (var field in result.Fields)
                        {
                            <text>[<strong>@field.Key</strong>]@field.Value<br/></text>
                        }

                    </p> *@
			<a href="@node.Url" class="vp-link">
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
					visit page
				</a>
            </div>
        }
    </div> 
}
else
{
	<span class="text-common tc-color pad-tc-sp"> Found @count Pages For <span class="keyword">"@searchTerm"</span></span>
	<span class="result-ttl">
    <p>
        There are no results matching your search criteria: 

            @if (!String.IsNullOrWhiteSpace(searchTerm))
            {
                <text>'@searchTerm'</text>
            }
    </p>
		</span>
}